<html>
<title>
    Hacking Hackathons
</title>

<body>
    Hey.<br><br>
    I hope you are doing well in this pandemic.
    Hackathons allow students to come together and contribute as a community but have you ever thought what goes in
    organizing a Hackathon.<br><br>

    To answer your questions and let you know what's under the hood we bring you an event "Hacking Hackathons", where
    Mayank Goyal (Lead organized- HackJaipur || Github Campus Expert) will be sharing his experience and will be telling
    about things which should be kept in mind while being a part of one such hackathon.
    <br><br>
    Date:- August 1, 2020
    <br><br> Time: 11:00 AM IST<br>

    <br>Venue:- <a href="bit.ly/hackinghackathons">Youtube</a>

    <br><br>Drop your email for updates:- <a href="https://lnkd.in/eEP84gy">Drop your mails id</a>

    <br><br>Hope to see you there.<br>
    <img src="https://res.cloudinary.com/harshkumarkhatri/image/upload/v1596093330/Screenshot_from_2020-07-27_13-57-43_wztaws.png" height=320 width=580>
</body>

</html>

